@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme {
  --color-brand-primary: hsl(18 82% 48%);
  --color-brand-bg : hsl(36 33% 97%);
  --color-background : hsl(36 33% 97%);
  --color-foreground: hsl(24 14% 12%);

  --color-secondary: hsl(30 25% 92%);
  --color-secondary-foreground: hsl(24 14% 12%);


  --color-border: hsl(30 15% 88%);
  --color-muted: hsl(30 20% 94%);
  --color-muted-foreground: hsl(24 8% 42%); 
}